.Header {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

}

.Header__logoContainer {
    background-image: url('../../../assets/imgs/IMG_0154.jpg');
    background-position: center right;
}